.swiper {
  width: 100%;
  height: 100%;
}

.m-0 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  margin: 0 !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  padding-top: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #be968e !important;
  color: white !important;
  border-radius: 50% !important;
  padding: 12px !important;
  width: 38px !important;
  height: 38px !important;
}

.swiper-button-next {
  margin-right: 10px;
}
.swiper-button-prev {
  margin-left: 10px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 23px !important;
  font-weight: bold !important;

  color: #000 !important;
}

.swiper-button-next::after {
  padding-left: 5px;
  background: #000;
}

.swiper-button-prev::after {
  padding-right: 5px;
}

.swiper-button-next {
  right: 15px; /* Closer to the edge */
}

.swiper-button-prev {
  left: 15px; /* Closer to the edge */
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute !important;
  top: 15px !important;
  background-color: #d4d4d4 !important;
}

.swiper-scrollbar-drag {
  background-color: white !important;
}
